<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} {% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='flatpickr.min.css') }}" >

    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
</head>
<body class="starter-page-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:russel.roberts@gmail.com">contact Developer</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 767 225 0195</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto">
          <h1 class="sitename">H.A.S</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            {% if 'loggedin' in session %}
                        <li>welcome {{ email }}  - {{rolename}}</li>
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                           {% if rolename=='consultant' %}
                           <li class="nav-item"><a class="nav-link" href="/bookings">Schedule Bookings</a></li>
                           <li class="nav-item"><a class="nav-link" href="/edit_user">Edit Profile</a></li>
                       
                           
                           {% elif rolename== 'admin' %}
                           <li class="nav-item"><a class="nav-link" href="/bookings">bookings</a></li>
                           <li class="nav-item"><a class="nav-link" href="/patient_bookings">bookings</a></li>
                           <li class="nav-item"><a class="nav-link" href="/logout"></a></li>
                           <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/list_roles">Manage Roles</a>
                                <a class="dropdown-item" href="/users">Manage Users</a>
                                <a class="dropdown-item" href="/patients">Manage Patients</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/lkps">Lookups Management</a>
                                <a class="dropdown-item" href="/healthcenters">HealthCenter LKP Management</a>
                  
                            </div>
                        </li>

                       

                           {% endif %}
                           <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        {% else %}
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        {% endif %}
                       
        </nav>
 </div>

    </div>
</header>
  <main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <!-- Page content-->
      {% block content %} {% endblock content %}
</div> 
            </div>
          </div>
        </div>
      </div>
      
    </div><!-- End Page Title -->

     

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
      crossorigin="anonymous"></script>
      
<!--<script src = "{{ url_for('static', filename='main.js')}}"></script>-->
      <script src = "{{ url_for('static', filename='flatpickr.js')}}"></script>
    {% block scripts %}{% endblock %}  

  </main>

  <footer id="footer" class="footer light-background">
<div class="container copyright text-center mt-4">
      <p>© <span>Copyright 2025</span> <strong class="px-1 sitename">Russel Roberts</strong> <span>All Rights Reserved</span></p>
     </div>
  </footer>
{% block log %}{% endblock %}
</body>

</html>

    