{% extends "base.html" %}
{% block head %}
    <meta name = "description" content="HAS - bookings">
{% endblock head %}
{% block title %}<title>Home - bookings</title>{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<h1>Bookings</h1>
<table class="table table-striped" id="bookingsTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created By</th>
            <th>Health Center</th>
            <th>Date</th>
            <th>Status</th>
            <th>Clinical Services</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.Booking.id }}</td>
            <td>{{ booking.User.lname }},{{ booking.User.fname }}</td>
            <td>{{ booking.HealthCenter.name }}</td>
            <td>{{ booking.Booking.date }}</td>
            <td>{{ booking.LKP.name }}</td>
            <td>{{ booking.Booking.clinicalservices }}</td>
            <td>
                <a href="{{ url_for('update_booking', id=booking.Booking.id) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete_booking', id=booking.Booking.id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_booking') }}" class="btn btn-primary">Add Bookings</a>

<!--
<h1>Patient Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Patient ID</th>
            <th>Status</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patientbooking in patientbookings %}
        <tr>
            <td>{{ patientbooking.booking_id }}</td>
            <td>{{ patientbooking.patient_id }}</td>
            <td>{{ patientbooking.statusLKP }}</td>
            <td>{{ patientbooking.comments }}</td>
            <td>
               <a href="{{ url_for('update_patientbooking', booking_id=patientbooking.booking_id, patient_id=patientbooking.patient_id) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete_patientbooking', booking_id=patientbooking.booking_id, patient_id=patientbooking.patient_id) }}" class="btn btn-danger">Delete</a>
                 </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 <a href="{{ url_for('create_patientbooking') }}" class="btn btn-primary">Add New Patient Booking</a>
-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#bookingsTable').DataTable();
            
        });
</script>

{% endblock content %}
