{% extends "base.html" %}
{% block head %}
    <meta name = "description" content="H.A.S">
{% endblock head %}
{% block title %}H.A.S - Create Patient {% endblock title %}
{% block content %}
<h1>Add New Patient</h1>
<form method="POST">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" required>
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" required>
    </div>
    <div class="form-group">
        <label for="tele1">Tele1</label>
        <input type="text" class="form-control" id="tele1" name="tele1">
    </div>
    <div class="form-group">
        <label for="tele2">Tele2</label>
        <input type="text" class="form-control" id="tele2" name="tele2">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="comments">Comments</label>
        <input type="text" class="form-control" id="comments" name="comments">
    </div>
    <div class="form-group">
        <label for="healthcenter">Health Center</label>
        <select name="healthcenter" id="healthcenter">
            {% for healthcenter in healthcenters %}
              <option value="{{healthcenter.id}}">{{healthcenter.name}}</option>
            {% endfor %}
            </select>
         
      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
