{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<h1>Health Centers</h1>
<table class="table table-striped" id="healthcentersTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>District</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for healthcenter in healthcenters %}
        <tr>
            <td>{{ healthcenter.id }}</td>
            <td>{{ healthcenter.name }}</td>
            <td>{{ healthcenter.district }}</td>
            <td>
                <a href="{{ url_for('update_healthcenter', id=healthcenter.id) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete_healthcenter', id=healthcenter.id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_healthcenter') }}" class="btn btn-primary">Add New Health Center</a>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#healthcentersTable').DataTable();
            
        });
</script>
{% endblock content %}
