{% extends "base.html" %}
{% block head %} 

{% endblock %}


{% block title %}Create Bookings{% endblock %}

{% block content %}
<form id="testing" action="/testing" method="post">
<input type="text" class="form-control" id="mdp-demo" name="mdp-demo"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.css" rel="stylesheet"/>
<link href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css" rel="stylesheet"/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.js"></script>

<select id="healthcenter" class="form-control">
   <option id="roseau">roseau</option>
   <option id="roseau">mahaut</option>
   <option id="roseau">portsmouth</option>
</select>
<script>
  var dates= $('#mdp-demo').multiDatesPicker();
</script>
<input type="submit" clas="btn btn-primary"/>

testing
<div class="container">
	<h3>Bootstrap Multi Select Date Picker</h3>
	<input type="text" class="form-control date" placeholder="Pick the multiple dates">
</div>	
<script >
   $('.date').datepicker({
  multidate: true,
	format: 'dd-mm-yyyy'
});

</script>
</form>
{% endblock %}

{% block scripts %}

{% endblock %}