{% extends "base.html" %}
{% block content %}
<h1>Edit Health Center</h1>
<form method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ healthcenter.name }}" required>
    </div>
    <div class="form-group">
        <label for="district">District</label>
        <input type="text" class="form-control" id="district" name="district" value="{{ healthcenter.district }}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
