{% extends "base.html" %}
{% block content %}
<h1>Edit User</h1>
<form method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control readonly" readonly id="email" name="email" value="{{ user.email }}" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd" value="{{ user.pwd }}" required>
    </div>
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" value="{{ user.fname }}">
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" value="{{ user.lname }}">
    </div>
    <div class="form-group">
        <label for="role_id">Role</label>
            {% for role in roles %}
                {% if role.id == user.role_id %}
                    {{role.name}}
              {% endif %}
            {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock content %}
