{% extends "base.html" %}
{% block head %}
    <meta name = "description" content="HAS - Home">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}

{% block content %}


<h1>Edit Booking</h1>
<form method="POST">
    <div class="form-group">
        <input type="hidden" class="form-control" id="created_by" name="created_by" value="{{ booking.created_by }}" required>
    </div>
    <div class="form-group">
        <label for="healthcenter">Health Center</label>
        <select name="healthcenter" id="healthcenter" class="form-control form-select" value="{{ booking.healthcenter }}" required>
            {% for healthcenter in healthcenters %}
              <option value="{{healthcenter.id}}">{{healthcenter.name}}</option>
            {% endfor %}
            </select>
        
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" value="{{ booking.date }}" required>
    </div>
    <div class="form-group">
        <label for="statusLKP">Status</label>
        <input type="number" class="form-control" id="statusLKP" name="statusLKP" value="{{ booking.statusLKP }}" required>
    </div>
    <div class="form-group">
        <label for="clinicalservices">Clinical Services</label>
        <input type="text" class="form-control" id="clinicalservices" name="clinicalservices" value="{{ booking.clinicalservices }}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <script>
        $('date').datepicker({
            format: "yyyy-mm-dd"
        });
        
        $('.special').change(function() {
                var selectedValues = $('.special:checked').map(function() {
                    return this.value;
                }).get().join(', ');

                $('#selServices').val(selectedValues);
            });
     </script>

</form>
{% endblock %}
