{% extends "base.html" %}
{% block content %}
<h1>Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>****************</td>
            <td>{{ user.fname }}</td>
            <td>{{ user.lname }}</td>
            <td>{{ user.role_id }}</td>
            <td>
                <a href="{{ url_for('update_user', id=user.id) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete_user', id=user.id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_user') }}" class="btn btn-primary">Add New User</a>
{% endblock %}
